body {
    width: 800px;
    margin: 0 auto;
    background-color: #F8F8F8;
}

.ui-widget {
    font-size: 12px !important;
}

.wrapper {
    background-color: #FFF;
}

.header {
    height: 50px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    margin: 2px auto;
}

#dtTik td {
    padding: 0px;
}

.order-box {
    height: 10em;
    width: 15em;
    margin: auto 0px;
    border-radius: 16px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, .1);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, .1);
    display: inline-block;

}

.aligns {
    margin: auto 0px;
    width: 100%;
    height: 100%;
    padding: 10px 10px !important;
}